.lang{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.9rem,1vw,1.5rem);
}

/* .menus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  } */