@import "../../common/Colors.scss";

.menu {
  display: inline-block;
  position: relative;
  text-align: left;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  color: $main-menu;
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.menu-button-active {
  color: $main-menu-active;
  padding: 0.5rem;
  font-weight: bold;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
  border-radius: 1rem;
  background-color: $hover-color;
}

.btn-active {
  font-weight: bold;
  color: $active-main-menu-btn !important;
}

.menu-items {
  background-color: white;
  width: 15rem;
  position: absolute;
  left: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  animation: menu-dropdawn 0.3s linear;
}

.menu-item {
  text-decoration: none;
}

.menu-item-link {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  color: $main-menu-active;
  padding: 0.5rem 0.75rem;
  transition: 0.3s linear;
}

.menu-item-link-active {
  background-color: $main-menu-hover;
}

.menu-item:hover .menu-item-link,
.menu-item:active .menu-item-link,
.menu-item:focus .menu-item-link {
  padding-left: 20px;
  font-weight: 700;
}

@media (max-width: $show-mobile) {
  .menu-button,
  .menu-button-active {
    width: 100vw;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .menu-items {
    position: relative;
    width: 100vw;
    border-radius: 0;
  }
}

@keyframes menu-dropdawn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
