.hp-header{
    padding: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    input{
        padding: 1rem;
        width: clamp(200px, 50%,  600px);
    }
}


