@import '../App.scss';

.big-article{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: clamp(350px, 20vh, 400px);
}

.big-article img {
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.big-article-info{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    padding: 0.5rem;
    font-size: clamp(0.8rem, 0.9vw, 1.5rem);
    color: $artice-title-color; 
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 1.6;

    a{
        color: inherit;
        text-decoration: none;
    }
}

.date-category{
    letter-spacing: 0.3px;
    padding: 0.5rem;
    font-size: clamp(0.8rem, 0.9vw, 1.5rem);
    color: $article-date-category-color;
}

@media (max-width:800px) {
    .title {
        font-size: clamp(1rem, 3vw, 1.5rem);
      }
      .date-category{
        font-size: clamp(1rem, 3vw, 1.5rem);
    }
    }