@import "../../../../common/Colors.scss";

.tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  gap: 1rem;
  padding-bottom: 3rem;
}

@media (max-width: $show-mobile) {
  .tab-window {
    width: 100%;
  }
  .tab-list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0;
    gap: 0.2rem;
    min-height: 2rem;
  }
}
