@import "../../Colors.scss";

.agendy-vyber-obsahu {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.agendy-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.square {
  font-size: 1rem;
  color: $agendy-stvorec-farba;
}

.agendy-subtitle a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $agendy-subtitle-farba;
}

.agendy-zakon,
.agendy-stav {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: $show-mobile) {
  .agendy-vyber-obsahu {
    gap: 0;
  }

  .agendy-title,
  .agendy-subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .agendy-zakon,
  .agendy-stav {
    font-size: 14px;
    line-height: 26px;
  }
}
