@import "../../common/Colors.scss";

.article-simple-promo {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.article-simple-promo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.article-simple-promo-title {
  padding: 1.75rem 0.75rem;
  display: flex;
  align-items: center;
  height: 50px;
  color: $artice-title-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
}

@media (max-width: $show-mobile) {
  .article-simple-promo-title {
    padding: 0.3rem;
    font-size: 16px;
  }
}
