@import "../../common/Colors.scss";

.small-aricle {
  background-color: white;
  display: grid;
  gap: 3%;
  grid-template-columns: 30% 67%;
  flex-grow: 1;
  height: 6rem;
}

.small-aricle-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.small-article-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: white;
}

.title {
  margin: 0;
  padding: 0.5rem 0;
  color: $artice-title-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.title a {
  color: inherit;
  text-decoration: none;
}

.date-category {
  text-decoration: none;
  letter-spacing: 0.3px;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 14px;
  color: $article-date-category-color;
}

@media (max-width: $show-mobile) {
}
