@import "../../Colors.scss";

.kalendar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
}

.kalendar a {
  color: $kalendar-title-farba;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
}

.kalendar-date-place {
  font-size: 14px;
}

.kalendar-org {
  font-size: 14px;
}
