@import "../../common/Colors.scss";

.mapy-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: white;
  flex-grow: 1;
  padding: 1rem;
  overflow: hidden;
}

.mapy-data img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.mapy-data a {
  color: $mapy-data-title-farba;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  text-align: center;
  text-decoration-line: underline;
}

.mapy-data p {
  height: 175px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  text-align: center;
}

@media (max-width: $show-mobile) {
}
