@import "../../common/Colors.scss";

.popularny-obsah-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding: 5px 10px;
  background: $popularny-obsah-btn-color;
  border: none;
  cursor: pointer;
}
