@import "../../Colors.scss";

.stav-zp-vyber-obsahu{
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.stav-zp-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-transform: uppercase;
    font-size: clamp(0.8rem, 0.9vw, 1.5rem);
}

.square {
    font-size: clamp(0.8rem, 0.9vw, 1.5rem) !important;
    color: $stav-zp-stvorec-farba;
}

.stav-zp-subtitle{
    font-size: clamp(0.8rem, 0.9vw, 1.5rem);
    padding: 0.5rem 0;
}

.stav-zp-subtitle a{
    color: $stav-zp-subtitle-farba;
}


@media (max-width:800px) {
    .stav-zp-title {
        font-size: clamp(1rem, 3vw, 1.5rem);
      }
      .stav-zp-subtitle{
        font-size: clamp(1rem, 3vw, 1.5rem);
    }
    .square {
        font-size: clamp(1rem, 3vw, 1.5rem) !important;
        color: $stav-zp-stvorec-farba;
    }
}