@import "../../../Colors.scss";

.aktualne-dianie {
  background-image: linear-gradient(
    to right top,
    $gradient-left,
    $gradient-middle,
    $gradient-right
  );
}

.aktualne-dianie-headers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  background-color: white;
}

.aktualne-dianie-headers h2 {
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  display: flex;
  align-items: center;
}

.aktualne-dianie-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  padding: 1rem 20vw;
  justify-content: center;
}

.aktualne-dianie-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 310px;
}

.aktualne-dianie-articles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

@media (max-width: $show-mobile) {
  .aktualne-dianie {
    padding: 0;
  }
  .aktualne-dianie-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}
