.agendy{
    background-image: url("https://cdn.pixabay.com/photo/2015/09/13/20/30/wood-938698_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3vw;
    margin-bottom: 5rem;
}

.agendy h1 {
    padding: 0.3rem;
    font-size: clamp(1rem, 1vw, 1.5rem);
    background-color: white;
    font-weight: 400;
}

.agendy-col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 400px;
}

@media (max-width:800px) {

.agendy {
    justify-content: flex-start;
    padding: 1rem;

}

.agendy-col{
    max-width: 100%;
}
.agendy h1 {
    padding: 0.3rem;
    font-size: clamp(1.5rem, 1vw, 2rem);
    background-color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
