@import "../../common/Colors.scss";

.page-header {
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-between;
  align-items: center;
}
.page-header-title {
  color: $page-header-title;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.page-header-search {
  max-width: 600px;
}
