@import "../../common/Colors.scss";

.wrapper {
  max-width: $max-width;
}

.wrapper-bgimage {
  position: absolute;
  top: 33rem;
  left: 0;
  right: 0;
  z-index: -1;

  height: 250px;
  width: 100%;
}
