@import "../../../Colors.scss";

.dokumenty {
  /* background-image: url("https://cdn.pixabay.com/photo/2016/12/14/04/13/wave-1905610__340.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

  background-image: linear-gradient(
    to left bottom,
    $gradient-left,
    $gradient-middle,
    $gradient-right
  );
}

.dokumenty-headers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  background-color: white;
}

.dokumenty-headers h2 {
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  display: flex;
  align-items: center;
}

.dokumenty-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  padding: 1rem 20vw;
  justify-content: center;
}

.dokumenty-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 310px;
}

.odkazy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  flex-grow: 1;
}

.odkazy a {
  flex-grow: 1;
}

.dokumenty-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

@media (max-width: $show-mobile) {
  .dokumenty {
    padding: 0;
  }

  .dokumenty-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .odkazy {
    gap: 10px;
  }
}
