@import "../../../Colors.scss";

.aktualne-dianie {
  background-image: linear-gradient(
    to right top,
    $gradient-left,
    $gradient-middle,
    $gradient-right
  );
}
.aktualne-dianie-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  padding: 1rem 20vw;
  justify-content: center;
}

@media (max-width: $show-mobile) {
  .aktualne-dianie {
    padding: 0;
  }
  .aktualne-dianie-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}
