.submenu{
    color: red;
}

.submenu ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0 1rem;
}

.submenu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
    margin: 0;
    list-style: none;
}
        
.submenu li:hover,
.submenu li:focus,
.submenu li:active{
    background-color: rgb(247, 186, 186);
}
