@import "../../../common/Colors.scss";

.search-box {
  display: flex;
}

.search-icon {
  width: 3rem;
  font-size: 2rem;
  height: auto;
  color: white;
  background-color: #757993;
  display: grid;
  place-items: center;
}

.combobox-input {
  padding: 0.75rem;
  font-size: 21px;
  background-color: #f3f4f6;
  width: 100%;
  outline: 0;
  border: none;

  font-weight: 400;
  line-height: 26px;
}

.combobox-input-mobile {
  padding: 0.5rem;
  font-size: 16px;
  background-color: #f3f4f6;
  width: 100%;
  outline: 0;
  border: none;
}

.combobox-options {
  position: absolute;
  background-color: white;
  padding: 0.5rem;
  font-size: 21px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.combobox-options li,
.combobox-options-mobile li {
  list-style: none;
  padding: 0.5rem 0.75rem;
}
.combobox-options a,
.combobox-options-mobile a {
  text-decoration: none;
  color: $text-color;
  padding: 0.5rem 0.75rem;
}

.combobox-option-active {
  background-color: rgb(228, 228, 228);
  color: #ffffff;
}

.combobox-option-inactive {
  background-color: #ffffff;
  color: $text-color;
}

.display-none {
  list-style: none;
  display: none;
}

@media only screen and (max-width: $show-mobile) {
  .combobox-input-mobile {
    font-size: 16px;
  }

  .combobox-options a {
    padding: 0;
  }

  .combobox-options-mobile {
    padding: 0;
    font-size: 16px;
    cursor: pointer;
  }
  .combobox-options-mobile a {
    padding: 0.5rem 0;
  }
}
