/* farby */
$main-menu:#000000;
$main-menu-active:#6B4732;
$main-menu-hover:#dadada;

$tab-text-color: #11242E;
$tab-text-color-active: #F56520;

$artice-title-color: #6B4732;
$article-date-category-color: #626A6E;

$footer-text-color: #000000;

$agendy-stvorec-farba: red;
$stav-zp-stvorec-farba: red;
$agendy-subtitle-farba: #6B4732;
$stav-zp-subtitle-farba: #6B4732;