@import "../../common/Colors.scss";

.menu {
  display: inline-block;
  position: relative;
  text-align: left;
  z-index: 0;
}

.menu-button {
  display: flex;
  text-align: start;
  width: 100%;
  cursor: pointer;
  transition: width 2s;

  font-size: 16px;
  text-decoration: underline;
  border: none;
  background-color: inherit;

  color: $odkazy-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding: 0.5rem;
}

.menu-button-active {
  color: $main-menu-active;
  font-weight: bold;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
  border-radius: 1rem;
  background-color: $hover-color;
}
