@import "../../common/Colors.scss";

.menu {
  display: inline-block;
  position: relative;
  text-align: left;
  z-index: 0;
}

.menu-button {
  display: flex;
  text-align: start;
  width: 100%;
  cursor: pointer;
  transition: width 2s;

  font-size: 16px;
  text-decoration: underline;
  border: none;
  background-color: inherit;

  color: $odkazy-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.menu-button-active {
  color: $main-menu-active;
  font-weight: 500;
}

.menu-button:hover .menu-button-link,
.menu-button:focus .menu-button-link,
.menu-button:active .menu-button-link {
  border-radius: 1rem;
  background-color: $hover-color;
  padding-left: 15px;
  font-weight: 500;
}

.menu-button-link {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem;
  transition: 0.3s linear;
}
