@import "../../common/Colors.scss";

.menu-button {
  display: flex;
  text-align: start;
  width: 100%;
  cursor: pointer;
  transition: width 2s;

  font-size: 16px;
  text-decoration: underline;
  border: none;
  background-color: inherit;

  color: $odkazy-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  padding: 0.5rem;
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
  border-radius: 1rem;
  background-color: $hover-color;
}

.menu-button-active {
  color: $main-menu-active;
  font-weight: bold;
}
.menu-items {
  padding-bottom: 1rem;
}
.menu-items li {
  list-style: none;
}
.menu-item-link-active {
  border-radius: 1rem;
  background-color: $hover-color;
}

.menu-item div {
  display: flex;
  text-decoration: none;
  color: $main-menu-active;
  padding: 0.5rem 0.75rem;
}
